# name: /etc/systemd/system/appdaemon.service
#
# Sample unit file for systemd
#
# Edit top suit your environment, then copy to /etc/systemd/system
#
# With user PI, run "sudo systemd enable appdaemon" to make it start at boottime
#
# Start/stop/status:
# sudo service appdaemon start | stop | status
#
[Unit]
Description=My AppDaemon service for Home Assistant

[Service]
# RPI2 - Slave HASS:
# ExecStart=/srv/homeassistant/bin/appdaemon -c /home/homeassistant/appdaemon_apps
# RPI3 - Master HASS:
ExecStartPre=source /home/homeassistant/.pyenv/versions/hass35/bin/activate
ExecStart=/home/homeassistant/.pyenv/versions/3.5.2/envs/hass35/bin/appdaemon -c /home/homeassistant/appdaemon_apps
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
