<h3 style='padding-top: 5%; padding-bottom: 5%; background-color: #f00a2d; color: white'>
<table>
    <tbody>
    {% for entity, ts in postalarms %}
    <tr>
        <td style='width: 40%'>{{ ts }}</td>
        <td>{{ entity }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2" style='background-color: white; color: black;'>Activación de alarma:</td>
    </tr>
    <tr>
        <td style='width: 40%'><strong>{{ ts }}</strong></td>
        <td><strong>**{{ entity }}**</strong></td>
    </tr>
    </tbody>
</table>
</h3>