<pre>{% if alarm_ts %}** ALARMA ACTIVADA a las {{ alarm_ts }} por {{ alarm_entity }}**
{% endif %}- Último evento registrado:
**Evento "{{ evento['event_type'] }}" a las {{ evento['ts_event'] }}:**
{% for pir in pirs %}
    *{{ friendly_names[pir] }}: {{ evento['pir_' + loop.index|string + '_st']|upper }} ({{ evento['pir_' + loop.index|string + '_ts'] }})
{% endfor %}
{% for cam_mov in cam_movs %}
    *{{ friendly_names[cam_mov] }}: {{ evento['cam_mov_' + loop.index|string + '_st']|upper }} ({{ evento['cam_mov_' + loop.index|string + '_ts'] }})
{% endfor %}
{% for extra_s, code in extra_sensors %}
    *{{ friendly_names[extra_s] }}: {{ evento[code +  '_st']|upper }} ({{ evento[code +  '_ts'] }})
{% endfor %}
{% if pre_alarm_ts %}[Pre-alarma activada a las {{ pre_alarm_ts }}]{% endif %}</pre>
